<div>
  <h3>Edit Post</h3>
  <hr>
</div>

<div>
  <form [formGroup]="editPostForm" (ngSubmit)="onEditPost()">
    <div class="mb-3">
      <label>Title</label>
      <input type="text" class="form-control" formControlName="title"/>
    </div>
    <div class="mb-3">
      <label>Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
    <div>
      <button class="btn btn-primary">Update Post</button>
    </div>
  </form>
</div>
