<div>
  <h3>Post List</h3>
  <hr/>
</div>

<div>
  <a [routerLink]="['/posts','add']">Add Post</a>
</div>

<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of posts$ | async">
    <td>{{post.id}}</td>
    <td>{{post.title}}</td>
    <td>{{post.description}}</td>
    <td>
      <a [routerLink]="['/posts','edit',post.id]" href="">Edit Post</a> | |
      <a href="">Delete Post</a>
    </td>
  </tr>
  </tbody>
</table>
