<div>
  <h3>Add Post</h3>
  <hr>
</div>

<div>
  <form [formGroup]="addPostForm" (ngSubmit)="onAddPost()">
    <div class="mb-3">
      <label>id</label>
      <input type="text" class="form-control" formControlName="id"/>
    </div>
    <div class="mb-3">
      <label>Title</label>
      <input type="text" class="form-control" formControlName="title"/>
    </div>
    <div class="mb-3">
      <label>Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
    <div>
      <button class="btn btn-primary">Add Post</button>
    </div>
  </form>
</div>
